html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
}

.flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

.panel {
  width: 10rem;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#1F33ED), to(rgba(255, 255, 255, 0))), #7D3D7D;
  background: linear-gradient(180deg, #1F33ED 0%, rgba(255, 255, 255, 0) 100%), #7D3D7D;
}

.panel .menu {
  padding-top: 10rem;
}

.panel .section-dashboard {
  border-bottom: 1px solid #fff;
  padding-bottom: 3rem;
}

.panel a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #fff;
  opacity: 0.8;
}

.panel a i {
  color: #fff;
  font-size: 3rem;
}

.panel a:hover {
  opacity: 1;
}

.sideBar {
  width: 100%;
  padding: 3rem;
  box-shadow: 0px 6px 17px -4px;
  position: relative;
}

.sideBar .logo {
  background: url(/images/logo.png?7e067afa86dc496790bd7657b7c1a226);
  background-size: cover;
  padding: 0.5rem 0;
  height: 6rem;
  width: 6rem;
  position: absolute;
  z-index: 10;
  left: 1%;
  top: 0;
}

.sideBar:after {
  content: "";
  height: 15rem;
  width: 12rem;
  background-color: #1F33ED;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: -10px;
  top: -65px;
  box-shadow: 0px 6px 17px -4px;
}

